html, body{
    background-color:grey;
    color: black;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
}

.header{
    text-align: center;
    color: #ffffff;
}

.container{
    width: 960px;
    color: black;
    /* background-color: grey; */
    margin: auto;
}

label{
    color:white !important;
    font-weight: bold;
}

textarea.materialize-textarea{
    color: white !important;
}